<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="deleteControl.Properties.Settings.p1_cnx_sqlConnectionString"
            connectionString="Data Source=DESKTOP-E5A56SA\ABD;Initial Catalog=p1_cnx_sql;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>